@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.romanticText {
    font-size: 18px;
}

h2 {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

.romanticText, .textPhotos, .textTip{
    color: #fff;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;
}

.textTip{
    text-align: center;
    width: 90%;
    margin: auto auto 10px auto;
}

.textPhotos{
    margin-bottom: 35px;
}

.photos{
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

img{    
    margin-bottom: 34px;
    height: 250px;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 220px;
    height: 30px;
    margin: auto;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
}

.loginText{
    margin: auto 0px 20px 0px;
}

#loginMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #663b94;
    color: white;
    width: 80px;
    height: 45px;
    border: solid 0.2em #ffffff;
    border-radius: 12px;
    line-height: 22.5px;
    cursor: pointer;
    transition: 0.2s;
    margin: 10px auto;
}

button:hover {
    font-size: 20px;
    line-height: 22.5px;
    outline: none;
    border: solid 0.02em #ffffff;
    box-shadow: 0 0 40px #ffffff;
} 

.hiddenText {
    height: 100vh;
    text-align: justify;
    text-justify: distribute;
    display: none;
    padding: 10px;
    color: #ffffff;
}

hr {
    border: 2px solid #202020;
    border-radius: 20px;
}